* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
  padding: 5px;
  overflow: hidden;
}

.header .header__logo img {
  width: 100px;
}

.header .nav {
  text-align: right;
  margin-top: 23px;
  padding: 10px;
}

.header .nav li {
  display: inline-block;
  list-style: none;
  line-height: 25px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.header .nav li:hover .sub__nav {
  opacity: 1;
}

.header .nav li a {
  text-decoration: none;
  color: #000;
}

.header .nav li .sub__nav {
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -10%;
  left: 0;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .nav li.changecolor a {
  color: #27ae60;
}

.header .nav__tablet {
  text-align: right;
  margin-top: 40px;
  display: none;
}

.header .nav__tablet li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
}

.header .nav__tablet li:hover .sub__nav {
  opacity: 1;
}

.header .nav__tablet li .sub__nav {
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content {
  height: auto;
  margin-top: 100px;
  overflow: hidden;
}

.content .about__section {
  height: 50vh;
  background-image: url("../sach-hay-ve-seo-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content .nav__blog {
  text-align: center;
  margin-bottom: 30px;
}

.content .nav__blog li {
  display: inline-block;
  margin-left: 20px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.content .nav__blog li.underline {
  border-bottom: 2px solid #27ae60;
}

.content .blog__section {
  background: #f8f9fa;
  height: auto;
  padding: 70px 10px;
}

.content .blog__box {
  padding: 10px;
  margin-bottom: 20px;
}

.content .blog__box img {
  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.content .blog__box .blog__heading {
  margin-bottom: 5px;
  color: #27ae60;
  font-size: 14px;
  line-height: 25px;
}

.content .blog__box .blog__sub-heading {
  color: #000;
  line-height: 25px;
  font-weight: 700;
  margin-bottom: 10px;
  cursor: pointer;
}

.content .blog__box .blog__sub-heading:hover {
  color: #27ae60;
}

.content .blog__box .blog__about {
  color: #000;
  opacity: 0.4;
  line-height: 25px;
}

.footer {
  height: auto;
  background: #000;
  padding: 10px;
  overflow: hidden;
}

.footer .newsletter__footer {
  margin-top: 60px;
  text-align: center;
}

.footer .newsletter__heading {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 25px;
}

.footer .newsletter__about {
  opacity: 0.4;
  margin-bottom: 20px;
  color: #fff;
}

.footer .form__footer .email__btn {
  width: 600px;
  padding: 8px 10px;
  outline: none;
  border-radius: 0;
  border: 2px solid #fff;
}

.footer .form__footer .submit__btn {
  background: #27ae60;
  padding: 9px 10px;
  color: #fff;
  width: 150px;
  border: 2px solid #27ae60;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.footer .form__footer .submit__btn:hover {
  background: #000;
}

.footer .footer__main-2 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer .footer__main-2 .footer__storyshop {
  padding: 10px;
  margin-left: 10px;
}

.footer .footer__main-2 .storyshop__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
  font-size: 16px;
}

.footer .footer__main-2 .storyshop__about {
  color: #888;
  font-size: 16px;
  line-height: 25px;
}

.footer .footer__main-2 .footer__information {
  padding-top: 10px;
}

.footer .footer__main-2 .information__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
  font-size: 16px;
}

.footer .footer__main-2 .information__nav li {
  list-style: none;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer .footer__main-2 .information__nav li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #27ae60;
}

.footer .footer__main-2 .footer__contact {
  padding-top: 10px;
  margin-left: 30px;
}

.footer .footer__main-2 .footer__contact .footer__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
}

.footer .footer__main-2 .footer__contact .contact__nav li {
  color: #888;
  font-size: 14px;
  list-style: none;
  line-height: 25px;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.footer .footer__main-2 .footer__contact .contact__nav li:hover {
  color: #27ae60;
}

.footer .footer__main-2 .footer__contact .contact__nav li i {
  margin-right: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999999;
}

.modal .content__modal {
  width: 50%;
  background: #fff;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content__modal .content__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 10px;
}

.modal .content__modal .content__close:hover i {
  color: red;
}

.modal .content__modal .modal__nav {
  overflow: hidden;
}

.modal .content__modal .modal__nav li {
  line-height: 45px;
  margin-bottom: 10px;
  list-style: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.modal .content__modal .modal__nav li:hover {
  color: #27ae60;
}

.modal .content__modal .modal__nav li a {
  text-decoration: none;
  color: #000;
}

.modal .content__modal .modal__nav li.changeColor {
  color: #27ae60;
}

.modal__user {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.modal__user .content__user {
  width: 350px;
  height: auto;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.modal__user .content__user .user__heading {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__user .content__user .email label {
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .email .email__btn {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
}

.modal__user .content__user .password label {
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .password .password__btn {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
}

.modal__user .content__user .checkbox__btn {
  margin-bottom: 10px;
}

.modal__user .content__user .checkbox__btn label {
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .checkbox__btn input {
  cursor: pointer;
  border-radius: 0;
}

.modal__user .content__user .submit__btn {
  width: 100%;
  text-align: center;
  background: #27ae60;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  padding: 8px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 0;
}

.modal__user .content__user .forgot__heading {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal__user .content__user .account__heading {
  font-size: 13px;
  margin-bottom: 10px;
}

.modal__user .content__user a {
  color: #27ae60;
  -webkit-text-decoration-color: #27ae60;
          text-decoration-color: #27ae60;
  text-transform: capitalize;
  cursor: pointer;
}

.modal__user .content__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.modal__user .content__close i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal__user .content__close i:hover {
  color: red;
}

.modal__search {
  position: fixed;
  z-index: 999999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
}

.modal__search .content__search {
  width: 30%;
  background: #fff;
  height: 100%;
}

.modal__search .modal__close {
  padding: 10px;
  cursor: pointer;
}

.modal__search .modal__close i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal__search .modal__close i:hover {
  color: red;
}

.modal__search .modal__close i {
  color: #000;
  font-size: 30px;
}

.modal__search .search__form {
  border-bottom: 2px solid #000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__search .search__form i {
  font-size: 16px;
  padding-bottom: 5px;
}

.modal__search .search__btn {
  width: 80%;
  outline: none;
  margin-top: 80px;
  border: none;
}

.modal__user.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.add__background {
  background: #0004;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  -webkit-animation: fadeIn 0.4s ease-in-out;
          animation: fadeIn 0.4s ease-in-out;
  display: none;
}

.add__background.open2 {
  display: block;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__search.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.to__top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #27ae60;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  display: none;
}

.to__top:hover {
  opacity: 0.2;
}

.to__top a {
  color: #fff;
}

.to__top.active {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeup linear 0.4s;
          animation: fadeup linear 0.4s;
  -webkit-animation: 0.4s  fadeIn ease-in-out;
          animation: 0.4s  fadeIn ease-in-out;
  opacity: 1;
}
/*# sourceMappingURL=blog.css.map */