@media (max-width: 739px) {
  .header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 5px;
    overflow: hidden;
  }
  .header .header__logo img {
    width: 100px;
    margin-left: -10px;
  }
  .header .nav {
    text-align: right;
    margin-top: 20px;
    padding: 10px;
    display: none;
  }
  .header .nav li {
    display: inline-block;
    list-style: none;
    line-height: 25px;
    margin-left: 30px;
    font-size: 28px;
    font-weight: 700;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  .header .nav li:hover .sub__nav {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .header .nav li a {
    text-decoration: none;
    color: #000;
  }
  .header .nav li .sub__nav {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #27ae60;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .header .nav__tablet {
    text-align: right;
    margin-top: 40px;
    display: block;
  }
  .header .nav__tablet li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin-left: 30px;
  }
  .content {
    height: auto;
  }
  .content .title__nav {
    margin-left: 0;
  }
  .content .item__img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .content .item__display {
    margin-left: 0px;
    margin-top: 10px;
  }
  .content .item__display .item__contain-heading {
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: -2px;
    line-height: 28px;
  }
  .content .item__display .item__contain-author {
    margin-left: 0;
  }
  .content .item__display .item__contain-price {
    margin-left: 0;
    font-size: 14px;
  }
  .content .item__display .item__about {
    margin-left: 0;
    font-size: 15px;
  }
  .content .item__display .read__more-2 {
    color: #000;
    margin-bottom: 20px;
    margin-left: 0px;
  }
  .content .item__display .read__more-2:hover {
    color: #fff;
  }
  .content .item__display .item__summary {
    margin-left: 0px;
  }
  .content .item__description {
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .content .item__description .item__heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .content .item__description .item__about {
    line-height: 25px;
  }
  .content .item__contain {
    margin-bottom: 40px;
  }
  .content .item__table {
    border: 0.2px solid #888;
    border-bottom: none;
    height: auto;
    margin-bottom: 40px;
    width: 300px;
  }
  .content .item__table .item__table-container:hover i {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container:hover .item__table-heading {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container i {
    color: #27ae60;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .item__table-heading {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .sub__heading {
    font-weight: 500;
    font-size: 14px;
  }
  .content .best__book-sell {
    padding-left: 0px;
    position: relative;
    margin-left: -10px;
    overflow: hidden;
    width: 270px;
    margin-top: 0px;
    margin-left: 0px;
  }
  .content .best__book-sell:hover .sub__sell {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .content .best__book-sell .best__book-heading {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    overflow: hidden;
    padding-bottom: 5px;
    cursor: pointer;
  }
  .content .best__book-sell .sub__sell {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0%;
    background: #27ae60;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .see__more-detail {
    margin-top: 10px;
    padding-right: 10px;
    text-align: left;
    cursor: pointer;
  }
  .content .see__more-detail .see__more {
    color: #000;
    font-size: 14px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    font-weight: 600;
    margin-top: 0;
  }
  .content .see__more-detail .see__more:hover {
    color: #27ae60;
  }
  .content .swiper2 {
    margin-top: 20px;
    padding: 0px;
    position: relative;
  }
  .content .swiper2 .swiper-slide {
    background: none;
    overflow: hidden;
    cursor: pointer;
  }
  .content .swiper2 .swiper-slide img {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 2;
  }
  .content .swiper2 .sub__slide {
    width: 100%;
    position: absolute;
    height: 30%;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .swiper2 .sub__slide .slide__heading {
    color: #000;
    margin-bottom: 5px;
    font-size: 14px;
    margin-top: 10px;
    line-height: 18px;
  }
  .content .swiper2 .sub__slide .author {
    color: #000;
    font-size: 12px;
    opacity: 0.5;
    margin-bottom: 10px;
  }
  .content .swiper2 .sub__slide .price {
    color: #000;
  }
  .content .swiper2 .list__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content .swiper2 .list__icon li {
    list-style: none;
    background: #27ae60;
    padding: 5px;
    text-align: center;
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  .content .swiper2 .list__icon li i {
    font-size: 14px;
  }
  .content .swiper2 .list__icon li.second__delay {
    -webkit-transition-delay: 0.1s;
            transition-delay: 0.1s;
  }
  .content .swiper2 .price__book {
    position: absolute;
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .swiper2 .price__book p {
    font-size: 12px;
  }
  .footer .newsletter__heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 25px;
  }
  .footer .newsletter__about {
    opacity: 0.4;
    margin-bottom: 20px;
    line-height: 25px;
    font-size: 16px;
  }
  .footer .form__footer .email__btn {
    width: 90%;
    margin-bottom: 20px;
  }
  .footer .form__footer .submit__btn {
    width: 90%;
  }
  .footer .footer__main-2 {
    margin-top: 40px;
  }
  .footer .footer__main-2 .footer__storyshop {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .footer .footer__main-2 .footer__information {
    padding: 10px;
    margin-bottom: 10px;
  }
  .footer .footer__main-2 .footer__contact {
    margin-left: 0;
    padding: 10px;
  }
  .modal {
    opacity: 0;
  }
  .modal .content__modal {
    width: 100%;
  }
  .modal.open {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .add__background {
    background: #0004;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99999;
    -webkit-animation: fadeIn 0.4s ease-in-out;
            animation: fadeIn 0.4s ease-in-out;
    display: none;
  }
  .add__background.open2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__user .content__user {
    width: 300px;
  }
  .modal__search .content__search {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .modal__user .content__user {
    width: 300px;
  }
  .content {
    height: auto;
  }
  .content .item__img {
    text-align: center;
    margin-left: 0;
    margin-bottom: 40px;
  }
  .content .item__img img {
    width: 100%;
    margin-left: 0;
  }
  .content .item__display {
    margin-left: 0px;
    margin-top: 10px;
  }
  .content .item__display .item__contain-heading {
    font-weight: 700;
    margin-bottom: 10px;
  }
  .content .swiper2 {
    max-height: 300px;
    padding: 18px;
  }
  .content .swiper2 .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .content .swiper2 .swiper-slide:hover .sub__slide {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .content .swiper2 .sub__slide .slide__heading {
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0px;
    line-height: 15px;
    margin-bottom: 2px;
  }
  .content .swiper2 .sub__slide .author {
    font-size: 10px;
    margin-bottom: 10px;
  }
  .content .swiper2 .list__icon li {
    font-size: 14px;
    padding: 5px;
  }
  .content .swiper2 .price__book p {
    font-size: 12px;
  }
  .content .item__contain {
    margin-bottom: 40px;
  }
  .content .item__table {
    border: 0.2px solid #888;
    border-bottom: none;
    height: auto;
    margin-bottom: 40px;
    width: 100%;
  }
  .content .item__table .item__table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 0.2px solid #888;
    padding: 10px 10px 15px 10px;
    overflow: hidden;
    cursor: pointer;
  }
  .content .item__table .item__table-container:hover i {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container:hover .item__table-heading {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container i {
    color: #27ae60;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .item__table-heading {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .sub__heading {
    font-weight: 500;
    font-size: 14px;
  }
}

@media (min-width: 740px) and (max-width: 1023.8px) {
  .header .header__logo img {
    width: 100px;
  }
  .header .nav {
    display: none;
  }
  .header .nav__tablet {
    text-align: right;
    margin-top: 40px;
    display: block;
  }
  .header .nav__tablet li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin-left: 30px;
  }
  .swiper .swiper-slide .slider__left {
    padding: 10px;
  }
  .swiper .swiper-slide .slider__left .author {
    padding-left: 5px;
    margin-bottom: 0px;
  }
  .swiper .swiper-slide .slider__left .slider__left-heading {
    margin-bottom: 20px;
    line-height: 55px;
  }
  .swiper .swiper-slide .slider__left .slider__about {
    margin-bottom: 20px;
    max-width: 350px;
  }
  .content .item__img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 40px;
  }
  .content .item__display {
    margin-left: 0px;
    margin-top: 10px;
  }
  .content .item__display .item__contain-heading {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  .content .item__display .item__contain-author {
    margin-left: 8px;
  }
  .content .item__display .item__contain-price {
    font-size: 25px;
    margin-left: 8px;
    margin-bottom: 15px;
  }
  .content .item__display .item__about {
    margin-left: 8px;
  }
  .content .item__display .read__more-2 {
    color: #000;
    margin-bottom: 20px;
    margin-left: 8px;
  }
  .content .item__display .read__more-2:hover {
    color: #fff;
  }
  .content .item__display .item__summary {
    margin-left: 8px;
  }
  .content .item__display .item__summary li {
    display: inline-block;
    margin-right: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
  }
  .content .item__display .item__summary li:hover {
    color: #27ae60;
  }
  .content .item__display .item__summary li i {
    margin-right: 5px;
  }
  .content .item__description .item__heading {
    margin-left: 8px;
  }
  .content .item__description .item__about {
    margin-left: 8px;
  }
  .content .item__table {
    border: 0.2px solid #888;
    border-bottom: none;
    height: auto;
  }
  .content .item__table .item__table-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 0.2px solid #888;
    overflow: hidden;
    cursor: pointer;
  }
  .content .item__table .item__table-container:hover i {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container:hover .item__table-heading {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content .item__table .item__table-container i {
    color: #27ae60;
    margin-right: 10px;
    font-size: 20px;
    margin-top: 10px;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .item__table-heading {
    line-height: 20px;
    font-size: 16px;
    font-weight: 700;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .content .item__table .item__table-container .sub__heading {
    font-weight: 500;
    font-size: 14px;
  }
  .content .item__description {
    margin-top: 40px;
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .content .item__description .item__heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .content .item__description .item__about {
    line-height: 25px;
  }
  .content .best__book-sell {
    padding-left: 0px;
    position: relative;
    margin-left: -10px;
    overflow: hidden;
    width: 270px;
    margin-left: 8px;
    margin-top: 15px;
  }
  .content .see__more-detail {
    margin-top: 15px;
  }
  .content .see__more-detail .see__more:hover {
    color: #27ae60;
  }
  .content .swiper2 {
    padding: 10px;
  }
  .content .swiper2 .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .content .swiper2 .swiper-slide:hover .sub__slide {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .content .swiper2 .sub__slide {
    padding: 10px;
  }
  .content .swiper2 .sub__slide .slide__heading {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 2px;
  }
  .content .swiper2 .sub__slide .author {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .content .swiper2 .list__icon {
    position: absolute;
    top: 0;
    left: 0;
  }
  .content .swiper2 .list__icon li {
    font-size: 14px;
    padding: 5px;
    text-align: center;
  }
  .content .swiper2 .price__book p {
    font-size: 12px;
  }
  .footer .form__footer .email__btn {
    width: 400px;
  }
  .footer .footer__main-2 {
    margin-top: 40px;
  }
  .footer .footer__main-2 .footer__storyshop {
    padding: 10px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .footer .footer__main-2 .footer__information {
    padding: 10px;
    margin-bottom: 10px;
  }
  .footer .footer__main-2 .footer__contact {
    margin-left: 0;
    padding: 10px;
  }
  .modal.open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .content__modal.open2 {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .add__background {
    display: none;
  }
  .add__background.open2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .modal__search .content__search {
    width: 50%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .content {
    height: auto;
  }
  .content .item__display {
    margin-left: 0px;
    margin-top: 10px;
  }
  .content .swiper2 {
    max-height: 300px;
    padding: 18px;
  }
  .content .swiper2 .swiper-slide img {
    width: 100%;
    height: 100%;
  }
  .content .swiper2 .swiper-slide:hover .sub__slide {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .content .swiper2 .sub__slide .slide__heading {
    margin-bottom: 0px;
    font-size: 14px;
    margin-top: 5px;
    line-height: 20px;
    margin-bottom: 2px;
  }
  .content .swiper2 .sub__slide .author {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .content .swiper2 .list__icon li {
    font-size: 14px;
    padding: 5px;
  }
  .content .swiper2 .price__book p {
    font-size: 12px;
  }
  .footer .form__footer .email__btn {
    width: 400px;
  }
}
/*# sourceMappingURL=reponsiveItem.css.map */