* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
  padding: 5px;
  overflow: hidden;
}

.header .header__logo img {
  width: 100px;
}

.header .nav {
  text-align: right;
  margin-top: 23px;
  padding: 10px;
}

.header .nav li {
  display: inline-block;
  list-style: none;
  line-height: 25px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.header .nav li:hover .sub__nav {
  opacity: 1;
}

.header .nav li a {
  text-decoration: none;
  color: #000;
}

.header .nav li .sub__nav {
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -10%;
  left: 0;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header .nav li.changecolor a {
  color: #27ae60;
}

.header .nav__tablet {
  text-align: right;
  margin-top: 40px;
  display: none;
}

.header .nav__tablet li {
  list-style: none;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  margin-left: 30px;
  overflow: hidden;
  padding-bottom: 5px;
  position: relative;
}

.header .nav__tablet li:hover .sub__nav {
  opacity: 1;
}

.header .nav__tablet li .sub__nav {
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background: #27ae60;
  opacity: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content {
  height: auto;
  margin-top: 100px;
  padding: 10px;
  background: #f8f9fa;
  overflow: hidden;
}

.content .title__item {
  margin-top: 20px;
  margin-bottom: 40px;
}

.content .title__nav {
  margin-left: 20px;
}

.content .title__nav li {
  display: inline-block;
  text-transform: capitalize;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  line-height: 25px;
}

.content .title__nav li:hover {
  color: #27ae60;
}

.content .title__nav li a {
  color: #000;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .title__nav li a:hover {
  color: #27ae60;
}

.content .item__img img {
  width: 300px;
  padding: 10px;
  margin-left: 10px;
}

.content .item__display {
  margin-left: -80px;
  margin-top: 10px;
}

.content .item__display .item__contain-heading {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 40px;
}

.content .item__display .item__contain-author {
  font-size: 14px;
  opacity: 0.4;
  margin-left: 5px;
  margin-bottom: 15px;
}

.content .item__display .item__contain-price {
  font-size: 20px;
  margin-left: 5px;
  margin-bottom: 15px;
}

.content .item__display .item__about {
  margin-left: 5px;
  line-height: 25px;
  margin-bottom: 15px;
}

.content .item__display .read__more-2 {
  color: #000;
  margin-bottom: 20px;
  margin-left: 5px;
}

.content .item__display .read__more-2:hover {
  color: #fff;
}

.content .item__display .item__summary {
  margin-left: 5px;
}

.content .item__display .item__summary li {
  display: inline-block;
  margin-right: 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.content .item__display .item__summary li:hover {
  color: #27ae60;
}

.content .item__display .item__summary li i {
  margin-right: 5px;
}

.content .item__table {
  border: 0.2px solid #888;
  border-bottom: none;
  height: auto;
  margin-top: 20px;
}

.content .item__table .item__table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  border-bottom: 0.2px solid #888;
  padding: 15px 10px 15px 10px;
  overflow: hidden;
  cursor: pointer;
}

.content .item__table .item__table-container:hover i {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content .item__table .item__table-container:hover .item__table-heading {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.content .item__table .item__table-container i {
  color: #27ae60;
  margin-right: 10px;
  font-size: 20px;
  margin-top: 10px;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .item__table .item__table-container .item__table-heading {
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .item__table .item__table-container .sub__heading {
  font-weight: 500;
  font-size: 14px;
}

.content .item__description {
  margin-top: 20px;
  margin-left: 20px;
}

.content .item__description .item__heading {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.content .item__description .item__about {
  line-height: 25px;
}

.content .best__book-sell {
  margin-top: 50px;
  padding-left: 10px;
  position: relative;
  overflow: hidden;
  width: 270px;
  margin-left: 10px;
}

.content .best__book-sell:hover .sub__sell {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.content .best__book-sell .best__book-heading {
  color: #000;
  font-size: 22px;
  font-weight: 700;
  overflow: hidden;
  padding-bottom: 5px;
  cursor: pointer;
}

.content .best__book-sell .sub__sell {
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0%;
  background: #27ae60;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .see__more-detail {
  margin-top: 50px;
  padding-right: 10px;
  text-align: right;
  cursor: pointer;
}

.content .see__more-detail .see__more {
  color: #000;
  font-size: 14px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-weight: 600;
}

.content .see__more-detail .see__more:hover {
  color: #27ae60;
}

.content .swiper2 {
  max-height: 300px;
  margin-top: 20px;
  padding: 15px;
  position: relative;
  margin-bottom: 40px;
}

.content .swiper2 .swiper-slide {
  background: none;
  overflow: hidden;
  cursor: pointer;
  padding: 10px;
}

.content .swiper2 .swiper-slide img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.content .swiper2 .swiper-slide:hover img {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}

.content .swiper2 .swiper-slide:hover .sub__slide {
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.content .swiper2 .swiper-slide:hover .list__icon li {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.content .swiper2 .swiper-slide:hover .price__book {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.content .swiper2 .sub__slide {
  width: 100%;
  position: absolute;
  height: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .swiper2 .sub__slide .slide__heading {
  color: #000;
  margin-bottom: 0px;
  font-size: 16px;
  margin-top: 10px;
  line-height: 20px;
  margin-bottom: 5px;
}

.content .swiper2 .sub__slide .author {
  color: #000;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 10px;
}

.content .swiper2 .sub__slide .price {
  color: #000;
}

.content .swiper2 .list__icon {
  position: absolute;
  top: 0;
  left: 0;
}

.content .swiper2 .list__icon li {
  list-style: none;
  background: #27ae60;
  padding: 6px;
  text-align: center;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
}

.content .swiper2 .list__icon li:hover {
  background: #000;
}

.content .swiper2 .list__icon li i {
  font-size: 16px;
}

.content .swiper2 .list__icon li.second__delay {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.content .swiper2 .price__book {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.content .swiper2 .price__book p {
  font-size: 14px;
}

.footer {
  height: auto;
  background: #000;
  padding: 10px;
  overflow: hidden;
}

.footer .newsletter__footer {
  margin-top: 60px;
  text-align: center;
}

.footer .newsletter__heading {
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 25px;
}

.footer .newsletter__about {
  opacity: 0.4;
  margin-bottom: 20px;
  color: #fff;
}

.footer .form__footer .email__btn {
  width: 600px;
  padding: 8px 10px;
  outline: none;
  border-radius: 0;
  border: 2px solid #fff;
}

.footer .form__footer .submit__btn {
  background: #27ae60;
  padding: 9px 10px;
  color: #fff;
  width: 150px;
  border: 2px solid #27ae60;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
}

.footer .form__footer .submit__btn:hover {
  background: #000;
}

.footer .footer__main-2 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer .footer__main-2 .footer__storyshop {
  padding: 10px;
  margin-left: 10px;
}

.footer .footer__main-2 .storyshop__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
  font-size: 16px;
}

.footer .footer__main-2 .storyshop__about {
  color: #888;
  font-size: 16px;
  line-height: 25px;
}

.footer .footer__main-2 .footer__information {
  padding-top: 10px;
}

.footer .footer__main-2 .information__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
  font-size: 16px;
}

.footer .footer__main-2 .information__nav li {
  list-style: none;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer .footer__main-2 .information__nav li:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
  color: #27ae60;
}

.footer .footer__main-2 .footer__contact {
  padding-top: 10px;
  margin-left: 30px;
}

.footer .footer__main-2 .footer__contact .footer__heading {
  color: #fff;
  margin-bottom: 20px;
  border-bottom: 2px solid #27ae60;
  padding-bottom: 12px;
}

.footer .footer__main-2 .footer__contact .contact__nav li {
  color: #888;
  font-size: 14px;
  list-style: none;
  line-height: 25px;
  margin-bottom: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.footer .footer__main-2 .footer__contact .contact__nav li:hover {
  color: #27ae60;
}

.footer .footer__main-2 .footer__contact .contact__nav li i {
  margin-right: 10px;
}

.read__more {
  line-height: 25px;
  font-weight: 700;
  color: #000;
  padding: 10px 14px;
  -webkit-transition: color 0.4s linear;
  transition: color 0.4s linear;
  width: 150px;
  position: relative;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border: 1px solid #27ae60;
  z-index: 2;
  color: #fff;
  overflow: hidden;
}

.read__more-2:hover {
  color: #fff;
}

.read__more::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #27ae60;
  z-index: -2;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.read__more::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.read__more:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.read__more-2 {
  color: #000;
  font-weight: 600;
}

@-webkit-keyframes fade {
  100% {
    top: -140px;
  }
}

@keyframes fade {
  100% {
    top: -140px;
  }
}

@-webkit-keyframes typing {
  40%, 60% {
    left: calc(100% + 0px);
  }
  100% {
    left: 0;
  }
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 0px);
  }
  100% {
    left: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 999999;
}

.modal .content__modal {
  width: 50%;
  background: #fff;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .content__modal .content__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  padding: 10px;
}

.modal .content__modal .content__close:hover i {
  color: red;
}

.modal .content__modal .modal__nav {
  overflow: hidden;
}

.modal .content__modal .modal__nav li {
  line-height: 45px;
  margin-bottom: 10px;
  list-style: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  position: relative;
  cursor: pointer;
}

.modal .content__modal .modal__nav li:hover {
  color: #27ae60;
}

.modal .content__modal .modal__nav li a {
  text-decoration: none;
  color: #000;
}

.modal .content__modal .modal__nav li.changeColor a {
  color: #27ae60;
}

.modal__user {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.modal__user .content__user {
  width: 350px;
  height: auto;
  background: #fff;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;
}

.modal__user .content__user .user__heading {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.modal__user .content__user .email label {
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .email .email__btn {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
}

.modal__user .content__user .password label {
  display: block;
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .password .password__btn {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 10px;
  border-radius: 0;
  cursor: pointer;
}

.modal__user .content__user .checkbox__btn {
  margin-bottom: 10px;
}

.modal__user .content__user .checkbox__btn label {
  font-size: 12px;
  line-height: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.modal__user .content__user .checkbox__btn input {
  cursor: pointer;
  border-radius: 0;
}

.modal__user .content__user .submit__btn {
  width: 100%;
  text-align: center;
  background: #27ae60;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-align: center;
  color: #fff;
  outline: none;
  border: none;
  padding: 8px 10px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 0;
}

.modal__user .content__user .forgot__heading {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.modal__user .content__user .account__heading {
  font-size: 13px;
  margin-bottom: 10px;
}

.modal__user .content__user a {
  color: #27ae60;
  -webkit-text-decoration-color: #27ae60;
          text-decoration-color: #27ae60;
  text-transform: capitalize;
  cursor: pointer;
}

.modal__user .content__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: #000;
  cursor: pointer;
  padding: 10px;
}

.modal__user .content__close i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal__user .content__close i:hover {
  color: red;
}

.modal__search {
  position: fixed;
  z-index: 999999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  bottom: 0;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
}

.modal__search .content__search {
  width: 30%;
  background: #fff;
  height: 100%;
}

.modal__search .modal__close {
  padding: 10px;
  cursor: pointer;
}

.modal__search .modal__close i {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.modal__search .modal__close i:hover {
  color: red;
}

.modal__search .modal__close i {
  color: #000;
  font-size: 30px;
}

.modal__search .search__form {
  border-bottom: 2px solid #000;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal__search .search__form i {
  font-size: 16px;
  padding-bottom: 5px;
}

.modal__search .search__btn {
  width: 80%;
  outline: none;
  margin-top: 80px;
  border: none;
}

.modal__user.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.add__background {
  background: #0004;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  -webkit-animation: fadeIn 0.4s ease-in-out;
          animation: fadeIn 0.4s ease-in-out;
  display: none;
}

.add__background.open2 {
  display: block;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal__search.open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.to__top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  background: #27ae60;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
  display: none;
}

.to__top:hover {
  opacity: 0.2;
}

.to__top a {
  color: #fff;
}

.to__top.active {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeup linear 0.4s;
          animation: fadeup linear 0.4s;
  -webkit-animation: 0.4s  fadeIn ease-in-out;
          animation: 0.4s  fadeIn ease-in-out;
  opacity: 1;
}
/*# sourceMappingURL=item.css.map */