$lightcolor:#fff;
$darkcolor:#000;
$greencolor:#27ae60;
$lightcolor2:#f7f3f0;
$lightcolor3:#f8f9fa;
$smallsize:20px;
$mediumsize:28px;
$largesize:40px;
$lineheight:25px;
$greycolor:#888;

@media (max-width: 739px) 
{
    .header
{
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $lightcolor;

    padding: 5px;
    overflow: hidden;
    .header__logo 
    {
       
        img 
        {
            width: 100px;
            margin-left: -10px;
        }
    }
    .nav 
    {
        text-align: right;
        margin-top: 20px;
        padding: 10px;
        display: none;
        li 
        {
            display: inline-block;
            list-style: none;
            line-height: $lineheight;
            margin-left: 30px;
            font-size: $mediumsize;
            font-weight: 700;
            position: relative;
            cursor: pointer;
            overflow: hidden;
          
        }
    }
    .nav__tablet 
    {
        text-align: right;
        margin-top: 40px;
         display: block;
        li 
        {
           list-style: none;
           display: inline-block;
           cursor: pointer;
           font-size: $smallsize;
           margin-left: 30px;
        }
    }
}
.swiper  
{

    .swiper-slide 
    {
      .slider__left 
      {
          padding: 10px;
          .slider__left-heading 
          {
              font-size: $mediumsize;
              font-weight: 700;
              margin-bottom: 10px;
              line-height: 40px;
              
              color: $lightcolor;
          }
         .slider__about 
         {
             color: $lightcolor2;
             opacity: 0.5;
             line-height: $lineheight;
             margin-bottom: 20px;
             max-width: 350px;
         }
      }
  
    }
   
 
}
.content
    {
        height: auto;
        .best__book-sell
        {
            margin-top: 80px;
            padding-left: 10px;
            position: relative;
            overflow: hidden;
            width: 270px;
            &:hover .sub__sell
            {
                transform: translateX(0%);
            }
            .best__book-heading 
            {
                color: $darkcolor;
                font-size: 18px;
                font-weight: 700;
                overflow: hidden;
               padding-bottom: 5px;
               cursor: pointer;
            }
        }
        .see__more-detail 
        {
            margin-top: 10px;
            padding-left: 10px;
            text-align: left;
            cursor: pointer;
            .see__more
            {
                color: $darkcolor;
                font-size: 14px;
                transition: 0.4s;
                font-weight: 600;
                &:hover 
                {
                    color:$greencolor;
                }
            }
         
        }
        .swiper2  
        {
            height: 300px;
            margin-top: 20px;
            padding: 15px;
            position: relative;
            .swiper-slide 
            {
                background: none;
                overflow: hidden;
              
                cursor: pointer;
              
                img 
                {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                    z-index: 2;
                    
                }
            }
            .sub__slide
            {
                width: 100%;
                position: absolute;
                height: 30%;
                bottom: 0;
                left: 0;
                right: 0;
            
                padding: 10px;
                transform: translateY(100%);
                transition: 0.4s;
                
                .slide__heading 
                {
                    color: $darkcolor;
                    margin-bottom: 5px;
                    font-size: 14px;
                    margin-top: 10px;
                   line-height: 20px;
                }
                .author 
                {
                    color: $darkcolor;
                    font-size: 12px;
                    opacity: 0.5;
                    margin-bottom: 10px;
                }
                .price 
                {
                    color: $darkcolor;

                }
            }
            .list__icon 
            {
                position: absolute;
                top: 0;
                left: 0;
            
                li 
                {
                    list-style: none;
                    background: $greencolor;
                    
                    padding: 5px;
                    text-align: center;
                    color: $lightcolor;
                    transition: 0.4s;
                    transform: translateX(-100%);
                    i 
                    {
                        font-size: 14px;
                    }
                    
                }
               
                li.second__delay
                {
                    transition-delay: 0.1s;
                }
            }
            .price__book 
            {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: 0.4s;
                p 
                {
                    font-size: 12px;
                }
            }
        }
        .weekly__book
        {
            background: $lightcolor3;
            padding: 10px;
            margin-top: 80px;
            .swiper3 
            {
              height: auto;
              margin-top: 50px;
              margin-bottom: 80px;
   
              .swiper-slide 
              {
                  background: none;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  background: $lightcolor;
                  padding: 20px;
                  overflow: hidden;
                  flex-direction: column;
                  cursor: pointer;
               
                  transition: 0.4s;
                  &:hover  .weekly__price
                  {
                      transform: translateX(0);
                  }
                  &:hover 
                  {
                      transform: scale(1.02);
                  }
              }
                img 
                {
                    width: 179px;
                    height: 250px;
                   margin-bottom: 20px;
                   margin-top: 40px;
                }
                .weekly__content
                {
                    padding: 10px;
                    .swiper-slide 
                    {
                        &:hover .icon__list li 
                        {
                            
                            transform: translateY(50%);
                        }
                    }
                    
                    .icon__list 
                    {
                        position: absolute;
                        top: 0%;
                        right:0%;
                        z-index: 0;
                        transition: none;
                       li 
                       {
                           transform: none;
                       }
                    }
                    .weekly__heading 
                    {
                        margin-bottom: 5px;
       
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .author
                    {
                         font-size: $smallsize;
                         color: $darkcolor;
                         font-size: 12px;
                         margin-bottom: 0px;
                         line-height: $lineheight;
                    }
                    .weekly__price
                    {
                         margin-bottom: 10px;
                         position: absolute;
                         top: 0;
                         right: 0;
                         padding: 10px 14px;
                         transform: translateX(100%);
                         transition: 0.4s;
                    }
                    .weekly__about
                    {
                        line-height: $lineheight;
                         font-size: 14px;
                    }
                }
               
            }
        }
       .popular__author
       {
        text-align: center;
           .popluar__heading
           {
               font-size: 18px;
               
           }
           .contain__box
           {
           width: 300px;
           text-align: center;
           margin-left: auto;
           margin-right: auto;
           }
       } 
       .review__bookshops
       {
           .review__content 
           {
              .review 
              {
                  font-size: 18px;  
              }
           }
       }
    }
    .footer 
{
    .newsletter__heading 
    {
 
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 15px;
        line-height: $lineheight;
    }
    .newsletter__about 
    {
       opacity: 0.4;
       margin-bottom: 20px;
       line-height: $lineheight;
       font-size: 16px;
    }
    .form__footer 
    {
        .email__btn 
        {
            width: 90%;
            margin-bottom: 20px;
        }
        .submit__btn 
       {
           width: 90%;
       }
    }
    .footer__main-2 
    {
      margin-top: 40px;
       .footer__storyshop 
       {
         padding: 10px;
         margin-left: 0px;
         margin-bottom: 10px;
       } 
       .footer__information 
      {
    
        padding: 10px;
        margin-bottom: 10px;
      }
      .footer__contact 
      {
        margin-left: 0;
        padding: 10px;
      }
       }
}
.modal 
{
    opacity: 0;
    .content__modal
    {
        width: 100%;
    }
}
.modal.open 
{
opacity: 1;
 transform: translateX(0);
}

.add__background 
{
  background: #0004;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  animation: fadeIn 0.4s ease-in-out;
  display: none;
}
.add__background.open2 
{
  display: flex;
}
.modal__user 
{
   .content__user 
   {
       width: 300px;
   }
}

}
@media (max-width:400px)
{
   .content
   {
    .swiper2  
    {
        height: 209px;
        margin-top: 20px;
        padding: 15px;
        position: relative;
        .swiper-slide 
        {
            background: none;
            overflow: hidden;
          
            cursor: pointer;
          
            img 
            {
                width: 100%;
                height: 100%;
                transition: 0.4s;
                z-index: 2;
                
            }
        }
        .sub__slide
        {
            width: 100%;
            position: absolute;
            height: 30%;
            bottom: 0;
            left: 0;
            right: 0;
        
            padding: 10px;
            transform: translateY(100%);
            transition: 0.4s;
            
            .slide__heading 
            {
                color: $darkcolor;
                margin-bottom: 0px;
                font-size: 12px;
                margin-top: 0px;
               line-height: 16px;
            }
            .author 
            {
                color: $darkcolor;
                font-size: 12px;
                opacity: 0.5;
                margin-bottom: 10px;

            }
            .price 
            {
                color: $darkcolor;

            }
        }
        .list__icon 
        {
            position: absolute;
            top: 0;
            left: 0;
        
            li 
            {
                list-style: none;
                background: $greencolor;
                
                padding: 5px;
                text-align: center;
                color: $lightcolor;
                transition: 0.4s;
                transform: translateX(-100%);
                i 
                {
                    font-size: 14px;
                }
                
            }
           
            li.second__delay
            {
                transition-delay: 0.1s;
            }
        }
        .price__book 
        {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: 0.4s;
            p 
            {
                font-size: 10px;
            }
        }
    }
    .popular__author
    {
     text-align: center;
        .popluar__heading
        {
            font-size: 18px;
            
        }
        .contain__box
        {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        }
    } 
   }
   .modal__user 
{
   .content__user 
   {
       width: 300px;
   }
}

}
@media (min-width: 740px) and (max-width: 1023.8px) 
{
    .header
{
    .header__logo 
    {
        img 
        {
            width: 100px;
        }
    }
    .nav 
    {
        display: none;
    }
    .nav__tablet 
    {
        text-align: right;
        margin-top: 40px;
        display: block;
        li 
        {
           list-style: none;
           display: inline-block;
           cursor: pointer;
           font-size: $smallsize;
           margin-left: 30px;
        }
    }
}
.swiper  
{
    .swiper-slide 
    {
      .slider__left 
      {
          padding: 10px;
          .author
          {
              padding-left: 5px;
              color: $greycolor;
              margin-bottom: 0px;
          }
          .slider__left-heading 
          {
              font-size: $largesize;
              font-weight: 700;
              margin-bottom: 20px;
              line-height: 55px;
              
              color: $lightcolor;
          }
         .slider__about 
         {
             color: $lightcolor2;
             opacity: 0.5;
             line-height: $lineheight;
             margin-bottom: 20px;
             max-width: 350px;
         }
      }
  
    }
}
.content
{
    .best__book-sell
    {
        margin-top: 80px;
        padding-left: 10px;
        position: relative;
        overflow: hidden;
        width: 270px;
        &:hover .sub__sell
        {
            transform: translateX(0%);
        }
        .best__book-heading 
        {
            color: $darkcolor;
            font-size: 22px;
            font-weight: 700;
            overflow: hidden;
           padding-bottom: 5px;
           cursor: pointer;
        }
        .sub__sell
        {
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0%;
            background:$greencolor;
            transform: translateX(-100%);
            transition: 0.4s;
        }
    }
    .see__more-detail 
    {
        margin-top: 85px;
        padding-right: 10px;
        text-align: right;
        cursor: pointer;
        .see__more
        {
            color: $darkcolor;
            font-size: 14px;
            transition: 0.4s;
            font-weight: 600;
            &:hover 
            {
                color:$greencolor;
            }
        }
     
    }
    .swiper2  
    {
        height: 250px;
        margin-top: 20px;
        padding: 15px;
        position: relative;

        .swiper-slide 
        {
            background: none;
            overflow: hidden;
            cursor: pointer;
          
            img 
            {
                width: 100%;
                height: 100%;
                transition: 0.4s;
                z-index: 2;
                
            }
    
        }
        .sub__slide
        {
            width: 100%;
            position: absolute;
            height: 30%;
            bottom: 0;
            left: 0;
            right: 0;
        
            padding: 10px;
            transform: translateY(100%);
            transition: 0.4s;
            
            .slide__heading 
            {
                color: $darkcolor;
                margin-bottom: 5px;
                font-size: 14px;
                margin-top: 10px;
               line-height: 18px;
            }
            .author 
            {
                color: $darkcolor;
                font-size: 12px;
                opacity: 0.5;
                margin-bottom: 10px;
            }
            .price 
            {
                color: $darkcolor;

            }
        }
        .list__icon 
        {
            position: absolute;
            top: 0;
            left: 0;
        
            li 
            {
                list-style: none;
                background: $greencolor;
                
                padding: 5px;
                text-align: center;
                color: $lightcolor;
                transition: 0.4s;
                transform: translateX(-100%);
                i 
                {
                    font-size: 14px;
                }
                
            }
           
            li.second__delay
            {
                transition-delay: 0.1s;
            }
        }
        .price__book 
        {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(100%);
            transition: 0.4s;
            p 
            {
                font-size: 12px;
            }
        }
    
}
.weekly__book
{
    background: $lightcolor3;
    padding: 10px;
    margin-top: 80px;
    .swiper3 
    {
      height: 300px;
      margin-top: 50px;
      margin-bottom: 80px;
      .swiper-slide 
      {
          background: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          background: $lightcolor;
          padding: 20px;
          overflow: hidden;
          cursor: pointer;
          transition: 0.4s;
          &:hover  .weekly__price
          {
              transform: translateX(0);
          }
          &:hover 
          {
              transform: scale(1.02);
          }
      }
        img 
        {
            width: 35%;
            height: 100%;

        }
        .weekly__content
        {
         
            .icon__list 
            {
                position: absolute;
                bottom: 2%;
                z-index: 0;
                left: 10.5%
            }
        }

    }
}
}


.read__more:hover 
{
    color: #fff;
    
}
.read__more-2 
{
    color: $darkcolor;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.footer 
{
    .form__footer 
    {
        .email__btn 
        {
            width: 400px;
        }
    }
    .footer__main-2 
    {
      margin-top: 40px;
       .footer__storyshop 
       {
         padding: 10px;
         margin-left: 0px;
         margin-bottom: 10px;
       } 
       .footer__information 
      {
    
        padding: 10px;
        margin-bottom: 10px;
      }
      .footer__contact 
      {
        margin-left: 0;
        padding: 10px;
      }
       }
}
.modal.open 
{
  display: flex;
 transform: translateX(0);
}
.content__modal.open2
{
    transform: translateX(0);
}
.add__background 
{
  background: #0004;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99999;
  animation: fadeIn 0.4s ease-in-out;
  display: none;
}
.add__background.open2 
{
  display: flex;
}
}
@media (min-width: 1023.9px) and (max-width: 1239px) 
{
    .content
    {
        .swiper2  
        {
            height: 270px;
            margin-top: 20px;
            padding: 15px;
            position: relative;
            .swiper-slide 
            {
                background: none;
                overflow: hidden;
                cursor: pointer;
              
                img 
                {
                    width: 100%;
                    height: 100%;
                    transition: 0.4s;
                    z-index: 2;
                    
                }
     
        
            }
            .sub__slide
            {
                width: 100%;
                position: absolute;
                height: 30%;
                bottom: 0;
                left: 0;
                right: 0;
            
                padding: 10px;
                transform: translateY(100%);
                transition: 0.4s;
                
                .slide__heading 
                {
                    color: $darkcolor;
               
                    font-size: 14px;
                    margin-top: 10px;
                   margin-top: 0px;
                }
                .author 
                {
                    color: $darkcolor;
                    font-size: 12px;
                    opacity: 0.5;
                    margin-bottom: 10px;
                }
                .price 
                {
                    color: $darkcolor;

                }
            }
            .list__icon 
            {
                position: absolute;
                top: 0;
                left: 0;
            
                li 
                {
                    list-style: none;
                    background: $greencolor;
                    
                    padding: 5px;
                    text-align: center;
                    color: $lightcolor;
                    transition: 0.4s;
                    transform: translateX(-100%);
                    i 
                    {
                        font-size: 14px;
                    }
                    
                }
               
                li.second__delay
                {
                    transition-delay: 0.1s;
                }
            }
            .price__book 
            {
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: 0.4s;
                p 
                {
                    font-size: 12px;
                }
            }
        }
        .weekly__book
        {
            background: $lightcolor3;
            padding: 10px;
            margin-top: 80px;
            .swiper3 
            {
              height: 300px;
              margin-top: 50px;
              margin-bottom: 80px;
              .swiper-slide 
              {
                  background: none;
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  background: $lightcolor;
                  padding: 20px;
                  overflow: hidden;
                  cursor: pointer;
                  transition: 0.4s;
                  &:hover  .weekly__price
                  {
                      transform: translateX(0);
                  }
                  &:hover 
                  {
                      transform: scale(1.02);
                  }
              }
                img 
                {
                    width: 35%;
                    height: 100%;
      
                }
                .weekly__content
                {
                    padding: 10px;
                    .icon__list 
                    {
                        position: absolute;
                        bottom: 2%;
                        z-index: 0;
                        left: 12.8%
                    }
                    .weekly__heading 
                    {
                        margin-bottom: 5px;
                      
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                    }
                    .author
                    {
                         font-size: $smallsize;
                         color: $darkcolor;
                         font-size: 12px;
                         margin-bottom: 10px;
                    }
                    .weekly__price
                    {
                         margin-bottom: 10px;
                         position: absolute;
                         top: 0;
                         right: 0;
                         padding: 10px 14px;
                         transform: translateX(100%);
                         transition: 0.4s;
                    }
                    .weekly__about
                    {
                        line-height: $lineheight;
                     
                    }
                }
      
            }
        }
    }
    .read__more-2 
    {
        color: $darkcolor;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .footer 
    {
        .form__footer 
        {
            .email__btn 
            {
                width: 400px;
            }
        }
    }
}